* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #352f5b;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    max-width: 400px;
}

.hide {
    display: none !important;
}

header,
.todos li,
.search {
    margin-bottom: 1rem;
}

main h2,
.addform h3 {
    text-align: center;
}

.empty-page {
    margin: 1rem auto;
    text-align: center;
}

.todos {
    list-style: none;
}

.todos li {
    background-color: #423a6f;
    color: inherit;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

.todos li i {
    cursor: pointer;
    display: block;
}

.addform {
    margin-top: 2rem;
}

.addform h3 {
    margin-bottom: 0.5rem;
}

.addform input,
.search input {
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
    transition: all 0.5s;
}

.addform input:focus,
.search input:focus {
    outline: none;
    border-color: none;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
    main {
        width: 600px;
    }
}